* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.m-auto {
    margin: auto;
}

.gap-x-2 {
    column-gap: 2em;
}


info-card {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-radius: 1em;
}